# ignore all pdf files
*.pdf

# ignore all gz files
*.gz

# ignore all log files
*.log

#ignore all aux files
*.aux

#ignore all out files
*.out

#ignore all toc files
*.toc

#ignore all .bak files
*.bak